* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* Common */
.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: block;
    width: 118px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}

.sniky {
    position: sticky;
    top: -30px;
    z-index: 1;
}

.heading {
    font-family: "Sen";
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv2 {
    font-size: 38px;
    line-height: 1.26;
}
/* header */
.header {
    background: #fffcf4;
}

.container-nav {
    padding-top: 36px;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
}

.container-nav .list {
    margin-left: auto;
    display: flex;
    position: relative;
}

.container-nav .list li a {
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #5f5b53;
}

.container-nav .list::before {
    position: absolute;
    left: 21px;
    bottom: 1px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.container-nav .list li a:hover {
    text-shadow: 0.5px 0 #171100;
    color: #171100;
}

.container-nav .btn {
    margin-left: 49px;
    width: 144px;
}

/* hero */
.hero {
    padding: 58px 0 65px 0;
    background: #fffcf4;
}

.container-hero {
    align-items: center;
    display: flex;
}

.left-hero {
    flex: 48.7%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.left-hero .image-hero {
    position: relative;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.container-hero .content-hero {
    display: inline-block;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    position: absolute;
    bottom: 48px;
    left: 300px;
}

.container-hero .container-content {
    padding: 24px 58px 24px 24px;
}

.container-content .item-content {
    display: flex;
    align-items: center;
}

.container-content .item-content .image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff9e8;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.container-content .item-content .info {
    margin-left: 19px;
}

.container-content .item-content .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.container-content .item-content blockquote {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.right-hero {
    width: 40.2%;
}

.right-hero .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.right-hero .actions {
    margin-top: 38px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right-hero .actions .btn {
    width: 180px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
    background: #ffb900;
}

.right-hero .actions .logo {
    margin-left: 28px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.right-hero .actions blockquote {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.right-hero .desc.lv2 {
    margin-top: 48px;
}

.right-hero .interactive {
    margin-top: 0;
}

.right-hero .interactive .desc {
    margin-top: 8px;
}

.right-hero .interactive span {
    font-family: "Sen";
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.right-hero .interactive span:last-child {
    margin-left: 28px;
}

/* COurses */
.courses {
    margin-top: 135px;
}

.container-courses {
    padding: 65px 0;
}

.container-courses .courses-top {
    display: flex;
    flex: 100%;
    align-items: center;
}

.container-courses .content {
    width: 39.2%;
}

.container-courses .courses-top .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.courses-top .chevron {
    display: flex;
    margin-left: auto;
    gap: 18px;
}

.courses-top .chevron .logo {
    width: 40px;
    height: 40px;
    border: 1px solid #ffb900;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffb900;
}

.courses-top .chevron .logo:hover {
    background: #ffb900;
    color: #fff;
    cursor: pointer;
}

.courses-bot {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.courses-bot .item-courses {
    flex: 1;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.courses-bot .item-courses:hover {
    border: 1px solid transparent;
}

.courses-bot .thumb {
    border-radius: 12px 12px 0 0;
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    margin: -1px;
}

.courses-bot .content {
    padding: 16px 22px 22px 22px;
    width: 100%;
}

.courses-bot .title {
    display: flex;
    align-items: center;
}

.courses-bot .sub-title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.courses-bot .title img {
    margin-left: auto;
}

.courses-bot .content .value {
    line-height: 1.75;
    color: #fea31b;
    margin-left: 6px;
}

.courses-bot .content .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    color: #5f5b53;
    width: 90%;
}

.courses-bot .price {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-bot .price .value-price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.btn-courses:hover {
    background: #ffb900;
}

/* Feedback */
.feedback {
    background: #2e2100;
    margin-top: 135px;
}

.container-feedback {
    padding: 96px 0;
    display: flex;
    overflow: hidden;
}

.container-feedback .item-feedback {
    display: flex;
    flex: 100%;
    flex-shrink: 0;
    justify-content: space-between;
    transform: translateX(-200%);
}

.container-feedback .left-feedback {
    width: 13.6%;
}

.container-feedback .left-feedback .img-avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.container-feedback .left-feedback .name {
    margin-top: 18px;
    font-family: "Sen";
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.container-feedback .left-feedback .desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.container-feedback .left-feedback .dots {
    margin-top: 28px;
    display: flex;
    gap: 6px;
}

.container-feedback .left-feedback .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.container-feedback .left-feedback .dot.active {
    background: #ffb900;
}

.container-feedback .right-feedback {
    margin-left: auto;
    width: 66.8%;
}

.container-feedback .right-feedback blockquote {
    margin-left: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}
/* Features */
.features {
    margin-top: 135px;
}

.container-features {
    padding: 65px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-features .img-fetures {
    display: flex;
    gap: 30px;
}

.container-features .image {
    width: 270px;
    height: 405px;
    border-radius: 12px;
    object-fit: cover;
}

.container-features .image:first-child {
    margin-top: 34px;
}

.container-features .content {
    width: 40.2%;
}

.container-features .content .desc {
    margin-top: 16px;
    line-height: 1.75;
    color: #5f5b53;
}

.container-features .content .btn {
    margin-top: 32px;
    background: #ffb900;
    display: block;
    width: 137px;
}

/* features-2 */
.features.lv2 {
    margin-top: 70px;
}

.container-features.lv2 {
    display: flex;
}

.container-features.lv2 .content {
    width: 48.7%;
}

.container-features.lv2 .img-fetures .image {
    margin-top: 0;
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}

/* blog */
.blog {
    margin-top: 135px;
    background: #fffcf4;
}
.container-blog {
    padding-top: 96px;
}

.container-blog .top-blog {
    width: 38.3%;
    margin-left: auto;
    margin-right: auto;
}

.container-blog .top-blog .heading.lv2 {
    text-align: center;
}

.container-blog .top-blog .desc {
    margin-top: 16px;
    line-height: 1.75;
    text-align: center;
    color: #696262;
}

.bot-blog {
    display: flex;
    margin-top: 55px;
    overflow: hidden;
}

.container-bot-blog {
    flex-shrink: 0;
    width: 100%;
    overflow: hidden;
}

.bot-blog .list {
    display: flex;
    gap: 30px;
}

.bot-blog .item {
    width: 33.33%;
}

.bot-blog .item .thumb {
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0 0;
}

.bot-blog .content {
    padding: 20px 20px 28px 20px;
    background: #ffffff;
    border-radius: 16px;
}

.bot-blog .content:hover {
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.bot-blog .content .time {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
    padding-bottom: 12px;
}

.bot-blog .content .time::before {
    margin-right: 4px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    background: #ffb900;
    border-radius: 50%;
}

.bot-blog .content .time::after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: -27px;
    content: "";
    background: #e2dfda;
    border-radius: 0.5px;
    height: 1px;
    display: inline-block;
}

.bot-blog .content blockquote {
    margin: 12px 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.bot-blog .content .btn:hover {
    background: #ffb900;
}

.bot-blog .dots {
    padding-bottom: 96px;
    display: flex;
    margin-top: 38px;
    justify-content: center;
    gap: 6px;
}

.bot-blog .dots .dot {
    background: #5f5b53;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.bot-blog .dots .dot.active {
    background: #ffb900;
}

.container-bot-blog .list {
    display: flex;
}

/* footer
 */
.footer {
    position: relative;
    padding-top: 96px;
    background: #2e2100;
}

.container-footer {
    display: flex;
    padding-bottom: 38px;
}

.container-footer .column:first-child {
    width: 35.2%;
}

.container-footer .column {
    width: 23%;
}

.container-footer .column .item:first-child {
    margin-top: 18px;
    max-width: 267px;
}

.container-footer .column .desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.container-footer .column .social-netork {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.container-footer .column .sub-title {
    display: inline-block;
    padding: 0 48px 14px 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;

    border-bottom: 1px solid #59554b;
}

.container-footer .item .desc {
    margin-bottom: 12px;
}

.container-footer .desc a {
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .container-footer::after {
    width: 1170px;
    bottom: 82px;
    position: absolute;
    content: "";
    height: 1px;
    display: block;
    background: #59554b;
}

.end {
    padding: 28px 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}
