* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */
.content {
    width: 1170px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    padding: 18px 16px;
    width: 118px;
    min-width: 118px;
    background: #171100;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

/* header */
.header {
    background-color: #fffcf4;
    height: 100vh;
}

.navbar {
    padding-top: 36px;
    align-items: center;
    display: flex;
}

.navbar .nav ul {
    display: flex;
}

.navbar .nav {
    margin-left: auto;
}

.navbar .nav a {
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    color: #5f5b53;
}

.navbar .nav a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.home a {
    position: relative;
    font-weight: 600;
    color: #171100;
}

.nav li.home a::after {
    display: block;
    position: absolute;
    content: "";
    left: 21px;
    bottom: 6px;
    display: inline-block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.navbar .nav a:first-child {
    margin-left: none;
}

.navbar .actions-btn {
    margin-left: 70px;
    width: 144px;
}

.hero {
    display: flex;
}

.hero .image {
    margin-top: 65px;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-img {
    position: relative;
}

.hero .hero-img .sub-title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero-img .info {
    left: 300px;
    bottom: 48px;
    position: absolute;
    height: 244px;
    width: 270px;
    display: flex;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero .info-logo {
    margin-left: 24px;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}

.hero .logo {
    margin-top: 22px;
}

.hero .info-font {
    margin-left: 16px;
    margin-top: 10px;
}

.hero .Notification {
    width: 41%;
    margin-top: 129px;
    margin-left: 230px;
}

.Notification .sub-title {
    margin-top: 22px;
}

.hero .title {
    font-family: "Sen";
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .easc {
    margin-top: 14px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}
.hero .sub-title {
    
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.Notification .func {
    align-items: center;
    margin-top: 38px;
    display: flex;
}

.Notification .btn {
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    padding: 17px 16px;
    color: #ffffff;
    width: 180px;
    background: #ffb900;
    border-radius: 32px;
}

.Notification .video {
    margin-left: 41px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.Notification .func .sub-title {
    margin-top: 22px;
    margin-left: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.Notification .sta {
    margin-top: 21px;
    display: flex;
}

.Notification .flo {
    margin-top: 48px;
    font-weight: 400;
    font-size: 1.8rem;
    color: #5f5b53;
}

.Notification .img-students {
    margin-right: 28px;
}
